<footer class="site-footer">
    <div class="wrapper">
        <div class="footer-sitemap">
            <a href="{{ '/' | relative_url }}">Home</a>
            <a href="{{ '/projects/' | relative_url }}">Projects</a>
            <a href="{{ '/team/' | relative_url }}">Team</a>
            <a href="{{ '/contact/' | relative_url }}">Contact</a>
        </div>
        <div class="footer-socials">
            <a href="https://linkedin.com/company/chehab-lab" target="_blank" rel="noopener">LinkedIn</a>
            <a href="https://github.com/chehab-lab" target="_blank" rel="noopener">GitHub</a>
            <a href="https://huggingface.co/ChehabLab" target="_blank" rel="noopener">Hugging Face</a>
        </div>
        <div class="footer-bottom">
            <p>Chehab Lab @ 2026<br>AI. Health. Cybersecurity.</p>
        </div>
    </div>
</footer>